<h2>Coach Information</h2>

<ul>
    <% for (let a of coach) { %>

        <div>Coach ID:<%= a.coachID %></div>
        <div>Coach Name:<%= a.firstName %><%= a.lashName %></div>
        <div>Register On:<%= a.registerOn %></div>
        <div>Rating:<%= a.ratings %></div>
        <div>location:<%= a.location %></div>
        <div>Phone Number:<%= a.phoneNumber %></div>
    <%  }%>
</ul>
<br>

<!-- Ely - I think there is a typo in line 7 (a.lastName instead of a.lashName),
which may mean you have the typo in your database attributes as well. -->
